/*
 *  
 * G4SEE Single Event Effect simulation toolkit
 * ============================================
 * SPDX-FileCopyrightText: © 2022 CERN for the benefit of the G4SEE Collaboration <https://cern.ch/g4see>
 *
 * This file is distributed under the terms of the Creative Commons Attribution 4.0 International,
 * copied verbatim in the file "LICENSES/CC-BY-4.0.txt".
 *
 * In applying this license, CERN does not waive the privileges and immunities granted to it
 * by virtue of its status as an Intergovernmental Organization or submit itself to any jurisdiction.
 *
 * SPDX-License-Identifier: CC-BY-4.0
 *  
 * Author: Dávid Lucsányi (CERN) <david.lucsanyi@cern.ch>
 *  
 */

table.colwidths-given {
    table-layout: fixed;
    width: 100%;
}
table.docutils td {
    white-space: unset;
    word-wrap: break-word;
}

tr:hover > td {
  background-color: #53b27f;
}

.literal {
  color: #4a9e71;
}

a:link,
a:visited {
  color: #2c5f6e;
  text-decoration: none;
}
a:hover,
a:active,
a:visited:hover,
a:visited:active {
  color: #5dc68e;
  text-decoration: none;
}

.bd-toc-item a:link,
.bd-toc-item a:visited {
  color: #2c5f6e;
  text-decoration: none;
}
.bd-toc-item a:hover,
.bd-toc-item a:active {
  color: #2c5f6e;
  text-decoration: none;
}
.bd-toc-item a:visited:hover,
.bd-toc-item a:visited:active {
  color: #2c5f6e;
  text-decoration: none;
}
.bd-toc-item a:active,
.bd-toc-item a:current,
.bd-toc-item a:active:active,
.bd-toc-item a:current:active,
.bd-toc-item a:active:hover,
.bd-toc-item a:current:hover,
{
  color: #2c5f6e;
  text-decoration: none;
}

.center h1 {
    text-align: center;
}

.toctree-wrapper ul {
   margin-bottom: 0;
}
