<!--
SPDX-FileCopyrightText: © 2022 CERN
SPDX-License-Identifier: CC0-1.0
-->

{% extends "!page.html" %}
{% block body %}
{% if current_version and latest_version and current_version != latest_version %}
  <p style="text-align: center;">
    <mark style="background-color: #5dc68e40;">
    <strong>
      {% if current_version.is_released %}
      &nbsp;You're reading an old version of this documentation!&nbsp;
      {% else %}
      &nbsp;You're reading the docs of the development version!&nbsp;
      {% endif %}
      <br>
      &nbsp;For the latest release, please have a look at <a href="{{ vpathto(latest_version.name) }}">{{latest_version.name}}</a>.&nbsp;
    </strong>
    </mark>
  </p>
{% endif %}
{{ super() }}
{% endblock %}%