<!--
SPDX-FileCopyrightText: © 2022 CERN
SPDX-License-Identifier: CC0-1.0
-->

<center>
    <h6 style="margin-top: -10px;">version <b style="color: #2c5f6e;">{{ current_version.name }}</b></h6>
    <span style="color: gray;">(latest release: {{ latest_version.name }})</span>
</center>