{{' '}}
G4SEE Single Event Effect simulation toolkit
============================================
{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

This file is distributed under the terms of the Creative Commons Attribution 4.0 International,
copied verbatim in the file "LICENSES/CC-BY-4.0.txt".

In applying this license, CERN does not waive the privileges and immunities granted to it
by virtue of its status as an Intergovernmental Organization or submit itself to any jurisdiction.

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
{{' '}}
Author:
{{' '}}