clang-format off
{{' '}}
G4SEE Single Event Effect simulation toolkit
============================================
{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

This software is distributed under the terms of the GNU General Public License version 3
(GPL Version 3) or any later version and the Geant4 Software License, copied verbatim in the
files "LICENSES/GPL-3.0-or-later.txt" and "LICENSES/LicenseRef-Geant4.txt" respectively.

In applying this license, CERN does not waive the privileges and immunities granted to it
by virtue of its status as an Intergovernmental Organization or submit itself to any jurisdiction.

This file includes and uses software developed by Members of the Geant4 Collaboration (https://cern.ch/geant4).

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
{{' '}}
Author: Geant4 Collaboration
Contributor:
{{' '}}
clang-format on